

#toolbar{background: rgba(3, 36, 56, 0.42);
    background-size: cover;

}
.toolbar1 {
	olor: #f8f8fb;
    float: left;
    color: white;
    margin-left: 2%;
    line-height: 71px;
    width: 109px;
    height: 80px;
    text-align: center;
    font-family: "alternate-gothic-no-3-d";
    text-transform: uppercase;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    margin-top: -8px;
						}
li {
	loat: left;
    line-height: 71px;
    list-style-type: none;
    color: #389c90;
    display: inline-block;
    font-size: 13px;
    font-family: "alternate-gothic-no-3-d";
    text-transform: uppercase;
    list-style-type: none;
    margin-left: 7px;

						}

a {
	    color: #f8f8fb;
	text-decoration: none;
						}
.index{
	    margin-left: 55%;

						}

.contact {
margin-left: 20px;
margin-right: 51px;
						}

.portfollio {
margin-left: 20px;
						}
.about1 {
	list-style-type: none;
	margin-left: 50%;
						}


#content
{
	background-color:#f8f8fb;
	

}

.content1
{

float: left;
    padding: 10px;
    background-color: #7a7f7e;
    width: 35%;
    clear: both;
    margin-left: 19px;
    background-color: rgba(105, 154, 154, 0.55);
    height: 548px;
    width: 298px;
    margin-bottom: 39px;
    height: 366px;
    margin-top: 15px;
}
.color{
	background-color: black;
}





.aboutme
{

float: left;
    margin-left: 105px;
    font-size: 14px;
    font-family: "alternate-gothic-no-3-d";
    text-transform: uppercase;
    list-style-type: none;
border-bottom: 1px solid white;

}

body
{
background: url("../images/supreme.jpg.jpg") no-repeat 0 0;
background-size:cover;
opacity: 0.7;

}
.pic{
	
	float: left;
    clear: both;
    overflow: auto;
    width: 150px;
    height: 150px;
    padding-right: 0px;
}

p 
{
	float: right;
    margin-left: 25px;
    font-style: oblique;
    color: white;

}
#buttonsquare
{
	
	
	width: 248px;
    height: 143px;
    float: right;
    background-color: rgba(208, 208, 214, 0.54);
    margin-right: 12px;
    display: block;
    margin-top: 27px;

}
.footer1{
	background-color: #f8f8fb;
    height: 14px;
    clear: both;

}
.footer2{
	height: 49px;
	background-color: #7a7f7f;

}
.box
{margin-right: 40px
	cursor:pointer;



}
.text{
	text-align: center;
	font-weight: 500;
	font-family: "alternate-gothic-no-3-d";
	text-transform: uppercase;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	padding: 13px;
	border-bottom: 1px solid white;

}
h1{    color: #f8f8fb;}

.dropbutton {
    background-color: white;
    color: white;
    padding: 11px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdowncontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdowncontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdowncontent a:hover {background-color: gray}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdowncontent {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbutton {
    background-color: gray;
}
.menu{
	height: 38px;
    width: 32px;
}
.form
{
	float:clear;
	float: left
}
.pic1
{
float: left;
    margin-right: 11px;
    padding-left: -13px;
    margin-top: 16px;
    margin-left: 37px;
 border:1px solid #021a40;
}
 img {
 	 border:1px solid #021a40;
 }
 .one
 {
 	font-family: "alternate-gothic-no-3-d";
    text-transform: uppercase;
    color: rgba(249, 249, 249, 0.42);
 }
 .texts
 {width: 291px;
    height: 210px;
 }